footer.footer
  .navigation.container.container_small.navigation__container
    a(href="#" ).navigation__logo
      img(src=require('@/assets/_global/logo_white.svg'), alt="docar logo")

    nav.navigation__panel.footer_navigation 
    


      a.navigation__text.navigation__text_currentPage(href="#")= "Физические лица"
      a.navigation__text(href="#")= "Юридические лица"
      a.navigation__text(href="#")= "Калькулятор"

    - var phoneNumber = '+7 961 477 77 77';
    .navigation__contacts
      p.navigation__text Г. Москва, ул. Привокзальная, д 87
      a(href=`tel:${phoneNumber.replace(/\s+/g, '')}` class="navigation__text") #{ phoneNumber }
  .additionalInfo
    .container.container_small.additionalInfo__container  
      .additionalInfo__linksWrapper
        a(href="#").navigation__text Условия использования
        a(href="#").navigation__text Политика конфиденциальности
      p.navigation__text 2021г.


include ../components/popUps.pug


