include ../components/preloader.pug
include ~@/templates/_global/abstracts/mixins/customCheckBoxNote.pug


header.header.navigation
  .container.container_small.navigation__container
    a(href="#" ).navigation__logo
      img(src=require('@/assets/_global/logo.svg'), alt="docar logo")

    .burgerIcon
      span 

    nav.navigation__panel.header__navigation 
      button.navigation__closeButton
      a.navigation__text(href="#")= "Физические лица"
      a.navigation__text.navigation__text_currentPage(href="#")= "Юридические лица"
      a.navigation__text(href="#")= "Калькулятор"



    - var phoneNumber = '+7 961 477 77 77';
    .navigation__contacts
      p.navigation__text Г.Москва
      a(href=`tel:${phoneNumber.replace(/\s+/g, '')}` class="navigation__text") #{ phoneNumber }
    
  
  



